<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a href="#" class="brand">{%trans%}Newsletter{%endtrans%}</a>
      <ul class="nav">
        <li>
          <a href="{{ path('newsletter') }}">{% trans %}Newsletters{% endtrans %}</a>
        </li>
        <li>
          <a href="{{ path('newsletter_email') }}">{% trans %}Newsletter Emails{% endtrans %}</a>
        </li>
        <li>
          <a href="{{ path('newsletter_group') }}">{% trans %}Newsletter Groups{% endtrans %}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
