{% extends '::admin.html.twig' %}
{% block body %}
<h1>{%trans%}Newsletter send{%endtrans%}</h1>

<form action="{{ path('newsletter_dosendgroup', {'id': entity.newsletter.id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-envelope"></span> {%trans%}Send{%endtrans%}</button>
    </p>
</form>
{% endblock %}
