{% extends '::base.html.twig' %}

{% block body %}
<div class="box" id="content-container">
    <h1>{% trans %}Password recovery{% endtrans %}</h1>
    <form action="{{ path('SiteUserBundle_password_recovery') }}" method="post">
        {% for flashType in ['error', 'success']%}
        {% for flashMessage in app.session.flashbag.get(flashType) %}
          <div class="alert alert-error">
              {{ flashMessage }}
          </div>
        {% endfor %}
        {% endfor %}
        <legend>{% trans %}If you forgot your password, type in your email address and we will send you instructions for password recovery.{% endtrans %}</legend>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                {{ form_widget(form) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <button type="submit" class="btn btn-default">{% trans %}general.submit{% endtrans %}</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
