<div class="stock">
    {% if entity is not empty %}
    {% if entity.amount > 0 %}
    {% trans %}Available{% endtrans %}
    {% elseif entity.availability %}
    {{ entity.availability | trans }}
    {% else %}
    {% trans %}Not available{% endtrans %}
    {% endif %}
    {% else %}
    {% trans %}Available{% endtrans %}
    {% endif %}
</div>