{% extends '::admin.html.twig' %}
{% block body %}
<h1>{%trans%}Newsletter Email creation{%endtrans%}</h1>

<form action="{{ path('newsletter_email_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> {%trans%}Create{%endtrans%}</button>
    </p>
</form>
{% endblock %}
