{% extends '::admin.html.twig' %}
{% block body %}
<h1>{% trans %}Groupon creation{% endtrans %}</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
<p>
    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> {% trans %}Create{% endtrans %}</button>
	<a href="{{ path('groupon', {'category': category, 'product': product}) }}"> {% trans %}Back to the list{% endtrans %}</a>
</p>
{{ form_end(form) }}
{% endblock %}
