{% extends '::base.html.twig' %}
{% block body %}
{% set minishopkeys = minishop|keys %}
{% if  product.productCategories | length > 0 %}
{% render  controller("SiteCategoryBundle:Category:breadcrumb" , {'id': product.productCategories.0.category.id, 'end': product.title}) %}
{% endif %}
<div id="product">
    <div class="row">
        <div class="image col-sm-4 col-md-4 col-lg-4">
        {% if product.media is not empty %}
            <div class="full-image">
             {% include "CoreMediaBundle:Media:display.html.twig" with {'entity': product.media.0.media, 'dir': 'small', 'link_path':'large', 'gallery': 'product-' ~ product.id} %}
            </div>
        {% endif %}
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
            <h1>
                {{product.title}}
            </h1>
			{% if 'vendor' in minishopkeys %}
            {% if product.vendor %}
            <h5>
                {% trans %}Vendor{% endtrans %}: {% include "SiteVendorBundle:Vendor:info.html.twig" with {'entity': product.vendor} %}
            </h5>
			{% endif %}
            {% endif %}
            <div id="shortdescription">
                {{product.shortDescription|raw}}
            </div>
			{% if 'price' in minishopkeys %}
            <div class="row">
            {% set price  = product.getMinimalPrice(pricegroup, 'normal') %}
            {% if price is not empty %}
            <div class="price pull-left lead col-sm-5 col-md-5 col-lg-5">
                <strong>{{price.priceVAT |number_format(2)}} €</strong>
                <small>{% trans %}with VAT{% endtrans %}</small>
                <span class="stock">
                {% include "SiteProductBundle:Stock:info.html.twig" with {'entity': product.stock }%}
                </span>
            </div>
			{% if 'shop' in minishopkeys %}
            <div class="cart pull-right col-sm-7 col-md-7 col-lg-7">
                {% render controller("SiteShopBundle:Cart:add", {'product': product, 'price':  price }) %}
                {% if 'marketing' in minishopkeys %}
                {% render controller ("SiteShopBundle:Groupon:form", {'product': product.id}) %}
                {% endif %}
            </div>
            {% endif %}
			{% endif %}
			{% endif %}
            </div>
        </div>
    </div>
    <hr />
    <div class="info">
        <div class="col-sm-12 col-md-12 col-lg-12">
        {% if product.media is not empty %}
        <div class="product-gallery gallery col-sm-4 col-md-4 col-lg-4">
            <div class="row">
                {% for media in product.media %}
				{% if media.media and loop.index0 > 0 %}
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="image">
                        {% include "CoreMediaBundle:Media:display.html.twig" with {'entity': media.media, 'dir': 'thumb', 'link_path':'large', 'gallery': 'product-' ~ product.id} %}
                    </div>
                </div>
				{% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="tab-pane active fade in" id="longdescription">
            {{product.longDescription|raw}}
        </div>
        <div class="clearfix"></div>
        {% include "SiteProductBundle:Attribute:list.html.twig" with {'entities': product.getGroupedAttributes()} %}
        <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}
