{% extends '::base.html.twig' %}
{% block body %}
<div id="content-container">
<h1>{% trans %}Address list{% endtrans %}</h1>
{% include "SiteShopBundle:Address:list.html.twig" with {'entities': entities} %}
</div>
{% endblock %}
