<table class="records_list table table-striped table-condensed">
    <thead>
       <tr>
            <td colspan="2">
                <a href="{{ path('address_new') }}"  class="btn btn-xs btn-default pull-right">
                    <span class="glyphicon glyphicon-plus"></span> {% trans %}Create Address{% endtrans %}
                </a>
            </td>
        </tr>
        <tr>
            <th>{% trans %}Address{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="2">
                <a href="{{ path('SiteUserBundle_index') }}" class="btn btn-default">{% trans %}Customer section{% endtrans %}</a>
            </td>
        </tr>
    </tfoot>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td> {% include "CoreShopBundle:Address:address.html.twig" with {'entity': entity } %}</td>
            <td>
                <a href="{{ path('address_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-edit"></span> {% trans %}Edit{% endtrans %}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
