{% if entities and entities| length > 0 %}
<div class="row">
    <h5>{% trans %}Groupon code{% endtrans %}</h5>
    <form action="{{path('groupon_add', {'product': product})}}" method="post" class="nolabel">
        {{form_label(form.code)}}
        <div class="input-group coupon">
            {{form_widget(form.code)}}
            <button type="submit" class="btn input-group-addon">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
        </div>
        {{form_rest(form)}}
    </form>
</div>
{% endif %}
