<div class="cart-info">
  <a href="{{path('cart')}}" class="cart">{% trans %}Cart{% endtrans %} <span class="glyphicon glyphicon-shopping-cart"></span></a>
  <strong>{% trans %}Count{% endtrans %}:</strong><span> {{cart.itemsCount}}</span>
</div>
