<p>
    <strong>Meno:</strong> {{ data.name}} <br />
    <strong>Email:</strong> {{ data.email}} <br />
    <strong>Tel.:</strong> {{ data.phone}} <br />
</p>
<p>
    <strong>Správa:</strong><br />
    {{ data.message}} <br />
</p>
