{% extends '::admin.html.twig' %}
{% block body %}
<h1>{% trans %}Content media position edit{% endtrans %}</h1>

<form action="{{ path('content_media_position_update', { 'id': id, 'content': content, 'category': category }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> {% trans %}Edit{% endtrans %}</button>
        <a href="{{ path('content_media', {'category': category, 'content': content}) }}"> {% trans %}Back to the list{% endtrans %}</a>
    </p>
</form>
{% endblock %}
