{% extends '::email.html.twig' %}
{% block content%}
{% trans with { '%portal%' : site_title } %}You have requested for password recovery at %portal%.{% endtrans %}
<br />
{% trans %}Please visit link %link% for password recovery.{% endtrans %}
<br />
<a href="%link%">%link%</a>
{% render controller('CoreUserTextBundle:UserText:display', {'name': 'email-footer', 'create': 1}) %}
{% endblock %}
